[defaults]
host_key_checking = False
inventory = inventories/terraform_state.yml
remote_user = ec2-user
interpreter_python = auto_silent
stdout_callback = ansible.builtin.default
callback_result_format = yaml

[inventory]
enable_plugins = cloud.terraform.terraform_state, yaml, ini

[ssh_connection]
pipelining = True
